/* Configurações globais */
body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: larger;
    background-color: #5C8063; /* Mesma cor do header */
    color: #2F4533; /* Cor das letras mais escura */
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tipografia */
p, label, h1, h2, h4 {
    line-height: 1.1em; /* Aumenta o espaçamento entre as linhas */
}

p, label {
    font-size: 1.2em;
    color: #2F4533;
}

h1 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    border-bottom: 2px solid #2F4533; /* Cor do sublinhado */
}

h3 {
    font-size: 2.5em;
    text-align: center;
}


h5 {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    text-align: center;
}

h6 {
    font-size: 1.4em;
    font-weight: 900;
    color: #2F4533;
}


.flor {
    position: relative;
    top: -70px;
    width: 35%;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante que o margin: auto funcione corretamente */
    transform: translateX(0); /* Remove o deslocamento extra */
}

/* Seções */
section {
    margin: 50px 15%;
    padding: 20px;
    background-color: #d9e3d8; /* Tom de verde mais claro */
    color: #2F4533; /* Cor das letras mais escura */
    border-radius: 15px;
    
}


/* Contagem Regressiva */
#contagem-regressiva {
    text-align: center;
    background-color: transparent; /* Mesma cor do header */
    border: 5px solid white; /* Adiciona uma borda branca de 5 pixels */
    border-radius: 15px;
    display: inline-block; /* Ajusta a largura da seção ao conteúdo */
    margin: 20px auto; /* Centraliza a seção horizontalmente */
}

#contagem-regressiva h3 {
    margin-top: 0; /* Remove margem superior do título */
    padding-top: 0; /* Remove o padding superior do título */
}

#frase1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

#contador {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.numero {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}

#confirmacao{
    background-color: #ffffff;
}

#lista-presentes p {
    max-width: 75%; 
    margin: 0 auto; 
    text-align: center;
    line-height: 1.1em;
}

.clique{
    font-size: 1.1em;
}

.clique:hover{
    font-size: 1.2em;
    color: #538466;
}


/* Formulário */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}



input[type="text"],
select {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    display: block;
    color: #2f4533e6; /* Define a cor do texto */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

input[type="text"]:focus, 
select:focus {
    border-color: #2F4533;
    outline: none;
}

select {
    appearance: none; /* Remove a seta padrão do select */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #2F4533;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: #24392c;
}

/* Seção de Lista de Presentes */
.pix-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 2% auto;
    display: flex; /* Usando flexbox para disposição lado a lado */
    justify-content: space-between; /* Espaçamento entre os elementos */
    align-items: center; /* Alinha os itens verticalmente */
}

.pix-info {
    text-align: left; /* Alinha o texto à esquerda */
    flex: 1; /* Permite que a parte da chave Pix ocupe o espaço disponível */
    margin-right: 20px; /* Espaço entre a chave Pix e o QR Code */
}

/* QR Code */
.qrcode {
    width: 20vh; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção do QR Code */
    display: block; /* Centraliza o QR Code */
    margin: 0.5% auto; /* Espaçamento superior/inferior e centralização */
}


/* Botão Copiar Código Pix */
#copiar-pix {
    background-color: #2F4533;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espaço acima do botão */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

#copiar-pix:hover {
    background-color: #24392c;
}


/* Mapas */
.mapas-container {
    display: flex;
    justify-content: center; /* Centraliza os itens na linha */
    gap: 2%;
    flex-wrap: wrap;
}

.mapa-item {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex; /* Adiciona flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha o conteúdo em coluna */
    align-items: center; /* Centraliza os itens no eixo horizontal */
    background-color: #ffffff;
    padding: 0.5%;
}

.mapa-item iframe {
    width: 100%; /* Largura máxima do iframe */
    max-width: 100%; /* Limita a largura para caber no container */
    height: 50vh; /* Altura fixa */
}



/* Links */
a {
    color: #2F4533; /* Cor do link */
}

.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 12%;
    height: 100%;
    background-color: #2F4533;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.menu-lateral.active {
    transform: translateX(0);
}

.menu-lateral h2 {
    color: #fff;
    font-size: 1.8em;
    padding: 20px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

.menu-lateral ul li {
    margin-bottom: 15px;
}

.menu-lateral ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    transition: color 0.3s;
}

.menu-lateral ul li a:hover {
    color: #d9e3d8;
}

#menu-toggle {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
    z-index: 1001;
    
}

#menu-toggle.active {
    color: #fff;
}


#infos-cidade {
    display: flex;
    flex-direction: column; /* Alinha todos os elementos em coluna */
    justify-content: center;
    padding: 40px 0;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.info-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 95%;
    flex-wrap: wrap; /* Mantém a flexibilidade para quebrar em múltiplas linhas */
}

.info-box {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adiciona espaçamento abaixo de cada box */
}

.info-box h2 {
    font-size: 1.8em;
}

.info-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-item {
    padding: 1%;
    border-bottom: 1.5px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Adiciona flexibilidade para quebrar em múltiplas linhas */
}

.info-item h5 {
    margin: 0;
    font-size: 18px;
    flex: 1;
}

.info-item p {
    margin: 0;
    color: #666;
    flex: 2;
    font-size: 16px;
    text-align: center;
}

.info-item a {
    padding: 8px 12px;
    background-color: #2F4533;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.info-item a:hover {
    background-color: #24392c;
}


.paragrafo-lugar {
    font-size: 18px; /* Tamanho do texto do parágrafo */
    margin-bottom: 15px; /* Espaçamento abaixo do parágrafo */
}


#noivado {
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 680px;
    margin: 20px auto;
}
.noivado {
    width: 100%;
    border-radius: 20px; 
}

/* Estilos para telas menores que 768px (tablets e celulares) */
@media screen and (max-width: 768px) {
    /* Seções */


    section {
        margin: 20px 5%; /* Reduz as margens laterais */
        padding: 15px;
    }

     /* Contagem Regressiva */
     #contagem-regressiva {
        border: 3px solid white;
        margin: 20px 5%; /* Reduz as margens laterais */
        font-size: 0.6em;
    }

        /* Menu lateral */
        .menu-lateral {
            width: 30%;
            font-size: small;
        }

        #menu-toggle {
            top: 10px;
            left: 10px;
            font-size: 1.2em;
        }

        /* Tipografia */
    h1 {
        font-size: 2em;
    }

    h2, h3 {
        font-size: 1.8em;
    }
    
    p, label {
        font-size: 1em;
    }

    /* Imagens e Iframes */

    .pix-qrcode{
        display: none;
    }

    .mapa-item iframe {
        height: 42vh; /* Reduz a altura dos mapas */
    }

    .noivado {
        border-radius: 10px;
    }

    .paragrafo-lugar{
        display: none;
    }


    .paragrafo-loc {
        text-indent: -9999px; /* Esconde o texto original */
    }
    
    .paragrafo-loc::after {
        content: "Nosso casamento começará às 15:45 com uma cerimônia religiosa na Paróquia Coração de Maria, em seguida, receberemos vocês na Chácara Fenix para uma comemoração!"; 
        text-indent: 0; /* Garante que o novo texto esteja visível */
        line-height: 1.1em; /* Restaura o espaçamento padrão */
        display: block; /* Garante que o novo conteúdo seja exibido */
    }

    /* Formulário */
    input[type="text"], select {
        width: 90%; /* Aumenta a largura dos inputs */
    }

    .container, .pix-container {
        width: 90%;
    }
     /* Listas */
     .info-container {
        flex-direction: column; /* Muda para coluna no mobile */
        gap: 10px;
    }

    #infos-cidade{
        background-color: #2F4533;
    }

    .info-box {
        width: 100%; /* Ocupa toda a largura da tela */
        background-color: transparent;
        box-shadow: none;
        color: #ffffff;
    }

    .info-item p {
        display: none;
    }

    #sugest{
        border-bottom: 2px solid #ffffff; /* Cor do sublinhado */
    }

    .info-item a {
        padding: 5px 8px;
        background-color: #2F4533;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 0.9em;
    }

    .info-lista a{
        background-color: #5C8063;
    }

    #noivado{
        width: 70%;
    }

    .mapa-sugestoes iframe{
        width: 300px;
    }

    .flor{
        width: 60%;
    }


}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.5em;
    }

    p, label {
        font-size: 0.9em;
    }

    .pix-container {
        padding: 15px;
    }

    .mapa-item iframe {
        height: 25vh; /* Ainda mais compacto para telas bem pequenas */
    }
}