/* Configurações globais */
body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: larger;
    background-color: #5C8063; /* Mesma cor do header */
    color: #2F4533; /* Cor das letras mais escura */
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tipografia */
p, label, h1, h2, h4 {
    line-height: 1.3; /* Aumenta o espaçamento entre as linhas */
}

p, label {
    font-size: 1.2em;
    color: #2F4533;
}

h1 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    border-bottom: 2px solid #2F4533; /* Cor do sublinhado */
}

h3 {
    font-size: 2.5em;
    text-align: center;
}


h5 {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    text-align: center;
}

h6 {
    font-size: 1.4em;
    font-weight: 900;
    color: #2F4533;
}


.flor {
    position: relative;
    top: -70px;
    width: 35%;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante que o margin: auto funcione corretamente */
    transform: translateX(0); /* Remove o deslocamento extra */
}

/* Seções */
section {
    margin: 50px 15%;
    padding: 20px;
    background-color: #d9e3d8; /* Tom de verde mais claro */
    color: #2F4533; /* Cor das letras mais escura */
    border-radius: 15px;
    
}


/* Contagem Regressiva */
#contagem-regressiva {
    text-align: center;
    background-color: transparent; /* Mesma cor do header */
    border: 5px solid white; /* Adiciona uma borda branca de 5 pixels */
    border-radius: 15px;
    display: inline-block; /* Ajusta a largura da seção ao conteúdo */
    margin: 20px auto; /* Centraliza a seção horizontalmente */
}

#contagem-regressiva h3 {
    margin-top: 0; /* Remove margem superior do título */
    padding-top: 0; /* Remove o padding superior do título */
}

#frase1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

#contador {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.numero {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}

#lista-presentes p {
    max-width: 75%; 
    margin: 0 auto; 
    text-align: center;
    line-height: 1.5;
}


/* Formulário */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}



input[type="text"],
select {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    display: block;
    color: #2f4533e6; /* Define a cor do texto */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

input[type="text"]:focus, 
select:focus {
    border-color: #2F4533;
    outline: none;
}

select {
    appearance: none; /* Remove a seta padrão do select */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #2F4533;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: #24392c;
}

/* Seção de Lista de Presentes */
.pix-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 2% auto;
    display: flex; /* Usando flexbox para disposição lado a lado */
    justify-content: space-between; /* Espaçamento entre os elementos */
    align-items: center; /* Alinha os itens verticalmente */
}

.pix-info {
    text-align: left; /* Alinha o texto à esquerda */
    flex: 1; /* Permite que a parte da chave Pix ocupe o espaço disponível */
    margin-right: 20px; /* Espaço entre a chave Pix e o QR Code */
}

/* QR Code */
.qrcode {
    width: 20vh; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção do QR Code */
    display: block; /* Centraliza o QR Code */
    margin: 0.5% auto; /* Espaçamento superior/inferior e centralização */
}


/* Botão Copiar Código Pix */
#copiar-pix {
    background-color: #2F4533;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espaço acima do botão */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

#copiar-pix:hover {
    background-color: #24392c;
}


/* Mapas */
.mapas-container {
    display: flex;
    justify-content: center; /* Centraliza os itens na linha */
    gap: 2%;
    flex-wrap: wrap;
}

.mapa-item {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex; /* Adiciona flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha o conteúdo em coluna */
    align-items: center; /* Centraliza os itens no eixo horizontal */
    background-color: #ffffff;
    padding: 0.5%;
}

.mapa-item iframe {
    width: 100%; /* Largura máxima do iframe */
    max-width: 100%; /* Limita a largura para caber no container */
    height: 50vh; /* Altura fixa */
}



/* Links */
a {
    color: #2F4533; /* Cor do link */
}

.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 12%;
    height: 100%;
    background-color: #2F4533;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.menu-lateral.active {
    transform: translateX(0);
}

.menu-lateral h2 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

.menu-lateral ul li {
    margin-bottom: 15px;
}

.menu-lateral ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    transition: color 0.3s;
}

.menu-lateral ul li a:hover {
    color: #d9e3d8;
}

#menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
    z-index: 1001;
    
}

#menu-toggle.active {
    color: #fff;
}


#infos-cidade {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.info-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 95%;
    flex-wrap: wrap; /* Adiciona flexibilidade para quebrar em múltiplas linhas */
}
.info-box {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.info-box h2 {
    font-size: 1.8em;
}
.info-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.info-item {
    padding: 1%;
    border-bottom: 1.5px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Adiciona flexibilidade para quebrar em múltiplas linhas */
}
.info-item h5 {
    margin: 0;
    font-size: 18px;
    flex: 1;
}
.info-item p {
    margin: 0;
    color: #666;
    flex: 2;
    font-size: 16px;
    text-align: center;
}
.info-item a {
    padding: 8px 12px;
    background-color: #2F4533;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.info-item a:hover {
    background-color: #24392c;
}


#noivado {
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 680px;
    margin: 20px auto;
}
.noivado {
    width: 100%;
    border-radius: 20px; 
}

/* Estilos para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
    h1 {
        font-size: 2.2em;
        margin-top: 40px;
    }

    h2, h3 {
        font-size: 2em;
    }

    h4, h5, h6 {
        font-size: 1.2em;
    }

    p, label, .info-item p {
        font-size: 1em;
    }

    .flor {
        width: 250px;
        top: -40px;
    }

    section {
        margin: 10px 10%;
        padding: 15px;
    }

    .main-container {
        padding: 10px;
    }

    #contagem-regressiva {
        width: 90%;
        margin: 20px auto;
        border-width: 3px;
    }

    #contador {
        font-size: 2em;
        gap: 5px;
    }

    .numero {
        padding: 8px 12px;
    }

    .mapas-container {
        flex-direction: column;
        gap: 20px;
    }

    .mapa-item {
        max-width: 100%;
        margin-bottom: 20px;
        height: 350px; /* Ajuste a altura para se adequar à tela menor */
    }

    iframe {
        height: 100%; /* Faz o iframe ocupar a altura total da .mapa-item */
    }

    .flor{
        display: none;
    }

    .pix-info {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .qrcode {
        width: 130px;
        margin: 0 auto;
    }

    .info-container {
        flex-direction: column; /* Torna os containers verticais */
        gap: 20px; /* Aumenta o espaço entre os containers */
        width: 100%; /* Ajusta a largura para preencher a tela */
    }
    .info-box {
        width: 100%; /* Ocupa toda a largura disponível */
    }
    .info-item {
        flex-direction: column; /* Coloca os elementos em uma única coluna */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }
    .info-item h5, .info-item p {
        flex: none; /* Desabilita o flex para elementos se ajustarem ao conteúdo */
        text-align: left; /* Alinha o texto à esquerda */
        margin-bottom: 10px; /* Adiciona espaço entre os elementos */
    }
    .info-item p {
        text-align: left; /* Alinha o texto à esquerda */
    }
    .info-item a {
        align-self: flex-end; /* Move o botão para a direita */
    }

    input[type="text"], 
    select, 
    input[type="submit"] {
        width: 90%;
    }

    #menu-toggle {
        font-size: 1em;
        top: 10px;
        left: 10px;
    }
}

/* Estilos para telas menores que 480px (celulares pequenos) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    h2, h3 {
        font-size: 1.5em;
    }

    h4, h5, h6 {
        font-size: 1em;
    }

    .flor {
        width: 200px;
        top: -20px;
    }

    .mapa-item {
        height: 250px;
    }

    #contador {
        font-size: 1.5em;
        gap: 3px;
    }

    .numero {
        padding: 6px 10px;
    }

    input[type="text"], 
    select, 
    input[type="submit"] {
        width: 85%;
    }

    .pix-info {
        text-align: center;
    }

    .qrcode {
        width: 100px;
    }
}
